<div class="container list">
  <div class="d-flex">
    <%= link_to root_path, class: 'back-link' do %>
      <i class="fa-solid fa-arrow-left me-2"></i>
    <% end %>
    <h1>Lista de Avaliados</h1>
  </div>

  <div class="table-grid-wrapper">
    <% @patients.each_with_index do |patient, index| %>
      <div class="table-grid-item first"><%= index + 1 %></div>
      <%= link_to profile_path(patient) do%>
        <div class="table-grid-item second">
          <%= patient.first_name %> <%= patient.last_name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
