<div class='home-banner'>
  <div class="home-infos">
    <% if user_signed_in? %>
      <% if current_user.psychologist? %>
        <%= link_to 'Ver Instrumentos <i class="fa-solid fa-arrow-right-long"></i>'.html_safe, instruments_path, class: 'btn-home' %>
      <% else %>
        <%= link_to 'Ver Perfil <i class="fa-solid fa-arrow-right-long"></i>'.html_safe, profile_path(current_user), class: 'btn-home' %>
      <% end %>
    <% else %>
      <%= link_to 'Entrar <i class="fa-solid fa-arrow-right-long"></i>'.html_safe, new_user_session_path, class: 'btn-home' %>
    <% end %>
  </div>
  <div class="home-image">
    <%= image_tag 'instrument-home.svg' %>
  </div>
</div>

<div class="home-cards-wrapper">
  <% if user_signed_in? %>
    <% if current_user.psychologist? %>

      <div class="home-card-item">
        <%= link_to new_user_invitation_path do %>
          <h3>Cadastrar Avaliado</h3>
          <div class="d-flex justify-content-between">
            <i class="fa-solid fa-arrow-right-long"></i>
            <%= image_tag 'add_user.svg' %>
          </div>
        <% end %>
      </div>

      <div class="home-card-item">
        <%= link_to instruments_path do %>
          <h3>Lista de Instrumentos Cadastrados</h3>
          <div class="d-flex justify-content-between">
            <i class="fa-solid fa-arrow-right-long"></i>
            <%= image_tag 'instruments.svg' %>
          </div>
        <% end %>
      </div>

      <div class="home-card-item">
        <%= link_to users_path do %>
          <h3>Lista de Avaliados Cadastrados</h3>
          <div class="d-flex justify-content-between">
            <i class="fa-solid fa-arrow-right-long"></i>
            <%= image_tag 'users.svg' %>
          </div>
        <% end %>
      </div>

    <% else %>

      <div class="home-card-item patient">
        <%= link_to profile_path(current_user) do %>
          <h3>Ver Meu Perfil</h3>
          <div class="d-flex justify-content-between">
            <i class="fa-solid fa-arrow-right-long"></i>
            <%= image_tag 'profile.svg' %>
          </div>
        <% end %>
      </div>

      <div class="home-card-item patient">
        <%= link_to destroy_user_session_path, data: { turbo_method: :delete } do%>
          <h3>Trocar de Conta</h3>
          <div class="d-flex justify-content-between">
            <i class="fa-solid fa-arrow-right-long"></i>
            <%= image_tag 'logout.svg' %>
          </div>
        <% end %>
      </div>

    <% end %>
  <% end %>
</div>
