<h1>BEM-VINDOS!</h1>

<div class="home-cards-wrapper">
  <% if user_signed_in? %>
    <% if current_user.psychologist? %>

      <div class="home-card-item">
        <h3>Cadastrar Avaliado</h3>
        <%= link_to new_user_invitation_path do %>
          <i class="fa-solid fa-person-circle-plus"></i>
        <% end %>
      </div>

      <div class="home-card-item">
        <h3>Lista de Instrumentos Cadastrados</h3>
        <%= link_to "<i class='fa-solid fa-table-list'></i>".html_safe, instruments_path %>
      </div>

      <div class="home-card-item">
        <h3>Lista de Avaliados Cadastrados</h3>
        <%= link_to users_path do %>
          <i class="fa-solid fa-users"></i>
        <% end %>
      </div>

    <% else %>

      <div class="home-card-item">
        <h3>Ver Meu Perfil</h3>
        <%= link_to profile_path(current_user) do %>
          <i class="fa-solid fa-user"></i>
        <% end %>
      </div>

    <% end %>

    <div class="home-card-item">
      <h3>Sair</h3>
      <%= link_to "<i class='fa-solid fa-right-from-bracket'></i>".html_safe, destroy_user_session_path, data: { turbo_method: :delete } %>
    </div>

  <% else %>

    <div class="home-card-item">
      <h3>Entrar</h3>
      <%= link_to new_user_session_path do %>
        <i class="fa-solid fa-right-to-bracket"></i>
      <% end %>
    </div>
  <% end %>
</div>
