<div class="container list">
  <div class="d-flex">
    <%= link_to root_path, class: 'back-link' do %>
      <i class="fa-solid fa-arrow-left me-2"></i>
    <% end %>

    <h1>Cadastrar um Avaliado</h1>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post, class: 'invitation-form' }) do |f| %>
    <%= f.error_notification %>

    <% resource.class.invite_key_fields.each do |field| -%>
      <div class="form-inputs">
        <%= f.input field, labe: 'E-mail' %>
      </div>
    <% end -%>

    <div class="form-inputs">
      <%= f.input :first_name, label: 'Nome' %>
    </div>

    <div class="form-inputs">
      <%= f.input :last_name, label: 'Sobrenome'  %>
    </div>

    <div class="form-inputs">
      <%= f.input :role, label: 'Função', as: :select, collection: User.roles.keys.map { |role| [User.new(role: role).translated_role, role] } %>
    </div>

    <div class="form-inputs">
      <%= f.input :birth_date, label: 'Data de Nascimento', as: :date, start_year: Date.today.year, end_year: 1917 %>
    </div>

    <div class="form-inputs">
      <%= f.input :registration_number, label: 'CEP'  %>
    </div>

    <div class="form-actions btn-form">
      <%= f.button :submit, t("devise.invitations.new.submit_button") %>
    </div>
  <% end %>
</div>
