<div class="instrument-grid-wrapper">
  <% @instruments.each_with_index do |instrument, index| %>
    <%= link_to instrument_path(instrument) do%>
      <div class="instrument-grid-item"><%= instrument.title %></div>
    <% end %>
    <div class="instrument-grid-item">
      <%= form_with url: profile_applied_instruments_path(@profile), method: :post do |f| %>
        <%= f.hidden_field :instrument_id, value: instrument.id %>
        <%= f.submit '+' %>
      <% end %>
    </div>
  <% end %>
</div>
