<div class="instrument-card">
  <h1><%= @applied_instrument.instrument.title %></h1>

  <% @applied_instrument.instrument.questions.each do |question| %>
    <div><%= question.description %></div>
    <% question.answers.each do |answer| %>

      <% if current_user.psychologist? %>
        <div><%= answer.position %> - <%= answer.description %></div>
        <% if answer.evaluated_answers.where(user: @applied_instrument.user).any? %>
          <div>Resposta do Avaliado: <%= answer.evaluated_answers.where(user: @applied_instrument.user).answer.description %></div>
        <% end %>
      <% end %>
    <% end %>

    <% if current_user.patient? %>
      <%= simple_form_for [@applied_instrument, @evaluated_answer] do |f| %>
        <%= f.collection_radio_buttons :answer_id, question.answers %>
        <%= f.submit 'Salvar Resposta' %>
      <% end %>
    <% end %>
  <% end %>
</div>

<%= link_to 'log_out', destroy_user_session_path, data: { turbo_method: :delete } %>
