<div class="instrument-card">
  <div class="d-flex">
    <%= link_to instruments_path do %>
      <i class="fa-solid fa-arrow-left me-2"></i>
    <% end %>
    <h1><%= @instrument.title %></h1>
  </div>

  <% @instrument.questions.each do |question| %>
    <div><%= question.description %></div>
    <% question.answers.each do |answer| %>
      <div><%= answer.position %> - <%= answer.description %></div>
    <% end %>
  <% end %>
</div>
